@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab&display=swap');

:root {
    --primary-color: #f4dd48;
    --secondary-color: #f6c616;
}
*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
 }

html, body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    background: url(/Images/bananaWallpaper.jpeg) center center fixed no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

main {
    /* flex-grow: 1; */
}

nav h1 {
    text-align: center;
    font-size: 2rem;
    font-style: italic;
    font-weight: bold;
    margin: 0;
}

nav {
    background-color: var(--primary-color);
    top: 0;
    padding: 1rem;
    margin-bottom: 3rem;
}

p {
    padding: 1rem 0 1rem 0;
}

.container {
    padding: 0rem 3rem;
}
.container-center {
    max-width: 700px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: auto;
    align-items: center;
}

.pagewrap{
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

#inputText {
    width: 100%;
    padding: 0.5rem 0rem 0rem 0.5rem;
    border: 2px solid black;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    background: rgba(255, 230, 0, 0.8);
    font-weight: bolder;
}

.output {
    border: 2px solid black;
    height: 120px;
    width: 100%;
    font-size: 1rem;
    padding: 0.5rem 0rem 0rem 0.5rem;
    background-color: rgba(255, 230, 0, 0.8);
    font-weight: bolder;
    margin-bottom: 3rem;
}

#translate-btn {
    padding: 0.5rem;
    font-size: larger;
    background-color: var(--primary-color);
    border-color: var(--secondary-color);
    margin-top: 1rem;
}

footer {
    background-color: var(--primary-color);
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    clear: both;
    margin-top: auto;
    text-align: center;
    padding: 10px 0px 10px 0px;
}

footer a {
    text-decoration: none;
    color: black;
}