@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab&display=swap');

:root {
    --primary-color: #f4dd48;
    --secondary-color: #f6c616;
}

html, body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    background: url(/Images/bananaWallpaper.jpeg) center center fixed no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container {
    padding: 0rem 3rem;
}
.container-center {
    max-width: 600px;
    margin: auto;
}

#inputText {
    width: 100%;
    padding: 0.5rem 0rem 0rem 0.5rem;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    background: rgba(0, 0, 0, 0.4);
    font-weight: bolder;
    color: white;
}

.output {
    border: 2px solid black;
    height: 120px;
    width: 100%;
    font-size: 1rem;
    padding: 0.5rem 0rem 0rem 0.5rem;
    background-color: rgba(0, 0, 0, 0.4);
    font-weight: bolder;
    color: white;
}

#translate-btn {
    padding: 0.5rem;
    font-size: larger;
    background-color: var(--primary-color);
    border-color: var(--secondary-color);
    margin-top: 1rem;
}

nav h1 {
    text-align: center;
    font-size: 2rem;
    font-style: italic;
    font-weight: bold;
    margin: 0;
}

nav {
    background-color: var(--primary-color);
    top: 0;
    padding: 1rem;
    margin-bottom: 3rem;
}